@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@100;300;400;500;700&display=swap');
//fonts variabels
$robotoF:'Roboto',
sans-serif;
$pattayaF: 'Pattaya',
sans-serif;
$hennyF: 'Henny Penny',
sans-serif;
//color variables
$purple: #9453a6;
$green: #8cbf3f;
$yellow: #f2cc0f;
$white: #f2f2f2;
$black: #0d0d0d;