/* small- mobile */

@media(max-width:576px) {
    .sliderContainer {
        width: 100vw;
        margin-bottom: -300px;
    }
    .sliderIndicators {
        display: none !important;
    }
    .sliderCarusel {
        height: 200px !important;
    }
}


/* medium- tablet */

@media(max-width:768px) {}


/* large- tablet+laptop under 13 inch */

@media(max-width:992px) {}


/* xl- over 13inch */

@media(max-width:1200px) {
    .sliderContainer {
        width: 100vw;
    }
    .sliderCarusel {
        height: 500px !important;
    }
}


/* xxl */

@media(max-width:1400px) {}

// img[src="/pics/marsh.jpg"] {}